<h1>Create a Figure</h1>

<form action="/figures" method="post">
  <label>Name:</label>

  <br></br>

  <input type="text" name="figure[name]" id="figure_name">

  <br></br>

  <label>Select Titles:</label>

  <% Title.all.each do |title| %>
    <label><%= title.name %></label>

    <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>

  <br></br>

  <label>or, Create a Title:</label>

  <br></br>

  <input type="text" name="title[name]" id="new_title">

  <br></br>

  <label>Select Landmarks:</label>

  <% Landmark.all.each do |landmark| %>
    <label><%= landmark.name %></label>

    <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %>

  <br></br>

  <label>or, Create a Landmark:</label>

  <br></br>

  <input type="text" name="landmark[name]" id="new_landmark">

  <br></br>

  <input type="submit" value="Create New Figure">
</form>
